<div class="page">
  <div class="adv">
    <div class="number">Advice #{{ num }}</div>
    <div class="content">"{{ content }}"</div>
    <picture class="divider">
      <source srcset="assets/images/pattern-divider-desktop.svg" media="(min-width: 1024px)">
      <img src="assets/images/pattern-divider-mobile.svg">
    </picture>
    <button class="next-btn" (click)="nextAdvice()">
      <img src="assets/images/icon-dice.svg">
    </button>
  </div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/cuishuo0102">cuishuo0102</a>.
  </div>
</div>